
.checkboxGroup {
  display: inline-block;
  text-align: left;
  a {
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }

  ul {
    padding-left: 0;
  }

  .separator {
    padding: 0 10px;
  }
}